<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<link type='text/css' rel='stylesheet' href='about.css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
<link type='text/css' rel='stylesheet' href='./public/bootstrap-3.3.4-dist/css/bootstrap.css'>
<title>About</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script type='text/javascript'>
$(function(){

 		$('body').css('display', 'none');
		$('body').fadeIn(1000);
		$('img').css('display', 'none');
		$('img').fadeIn(1000);
		



		$('a').click(function(){
			event.preventDefault();
			newLocation = this.href;

			$('body').fadeOut(1000, newpage);
			$('img').fadeOut(1000, newpage);


		})

		function newpage() {
			window.location = newLocation
		}


	$('a').hover(

		function(){
			$(this).css('color', '#1192C2')
		},
		function(){
			$(this).css('color',  'white')

	});


       
});

</script>
</head>
<header><p>About <span style='color:#1192C2'>|</span> Michael J. Stokes</p></header>


 <p id='move-right'><a href='/'>Home</a>  <span style='color:#1192C2'>|</span>  <a href='/portfolio'>Work</a> <span style='color:#1192C2'>|</span> <a href='/contact'>Contact</a></p>
 

<body>
<div class='container'>
<div id='div1'><img src='http://i.imgur.com/qliOhvp.jpg' height='200' width='200'></div>
<div id='div2'><p>I am a Web Developer and Web Designer from North Carolina based in New York City. I create sites that are user friendly, clean, and interactive. I use front-end technologies but my strongest skills are in Ruby, HTML5/CSS, and jQuery. I also do back-end development with Ruby on Rails and PostgreSQL.</p></div> 
<div id='div3'><img src='http://i.imgur.com/XhZ9jAr.jpg' height='200' width='200'></div>
<div id='div4'><p>I graduated from General Assembly's Web Development Immersive program which took place in New York City for 12 weeks. During the course I experienced lots of frustration, and stress from learning code and applying them into web applications.    General Assembly has gave me the mentality of a working as a Web Developer in the real world and I'm very grateful for that experience. General Assembly had opened up a whole new world for me. My classmates and I have grown so close to each other and consider ourselves family. I never knew how much I love eating bagels in the mornings and drinking hard apple cider during Happy Hour.</p></div>

<div id='div5'>
<ul>
<h3>Current Skills & Technologies</h3>
	<li>Ruby on Rails</li>
	<li>Sinatra</li>
	<li>Node.js</li>
	<li>AJAX</li>
	<li>jQuery</li>
	<li>Backbone.js</li>
	<li>HTML5/CSS3</li>
	<li>Photoshop</li>
	<li>Bootstrap</li>
	<li>PostgreSQL</li>
	<li>SQLite3</li>
</ul>


</div>

<div id='div6'><img src='http://i.imgur.com/GvvtutB.jpg' height='200' width='200'></div>

<div id='div7'><p>While I'm not coding, I love watching YouTube, Google, eating out, exploring the city, and having fun with my former classmates. I love travel and my dream is a roadtrip to visit every diner, dives, and drive-ins in the USA.  I am currently available for freelancing and full-time opportunities whether it's based in New York or remote. If you are interested in hiring me for your next project please <a href='/contact'>Contact Me</a> and we'll work from there. Looking forward to become a valuable service to you!  </p></div>

<div id='div8'><img src='http://i.imgur.com/W8WlPlj.jpg' height='350' width='600'></div>
<div id='div9'><img src='http://i.imgur.com/4lZaB54.jpg
' height='200' width='200'></div>
<div id='div10'><img src='http://i.imgur.com/7k2sino.jpg' height='200' width='200'></div>

</div>






</body>



</html>