<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>About</title>


<link type='text/css' rel='stylesheet' href='about.css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>


<script type='text/javascript'>
$(function(){

 		$('body').css('display', 'none');
		$('body').fadeIn(1000);
		



		$('a').click(function(){
			event.preventDefault();
			newLocation = this.href;

			$('body').fadeOut(1000, newpage);


		})

		function newpage() {
			window.location = newLocation
		}


	$('a').hover(

		function(){
			$(this).css('color', 'black')
		},
		function(){
		
			$(this).css('color', 'white')

	});


       
});

</script>
</head>


<body>

<div class='header'>
<div class = 'home-menu pure-menu pure-menu-horizontal pure-menu-fixed pure-menu-custom'>

<img src='http://i.imgur.com/qliOhvp.jpg' class='pure-img-responsive' height='100' width='75'><p id='About-Michael'>About <span style='color:#1192C2'>|</span> Michael J. Stokes</p>

<ul class= "pure-menu-list">
<li class = "pure-menu-item "><a href="/" class='pure-menu-link'>Home</a></li>
<li class="pure-menu-item pure-menu-selected"><a href="/about" class='pure-menu-link'><span style='color:#1192C2'>About</span></a></li>
<li class='pure-menu-item'><a href='/portfolio' class="pure-menu-link">Portfolio</a></li>
<li class='pure-menu-item'><a href="/contact" class='pure-menu-link'>Contact</a></li>
</ul>
</div>
</div>


 
 



	

<div class='pure-g'>	
<div id='container'>



<center>
<div id='div1'> <div class='pure-u-1-2' ><p>I am a Web Developer and Web Designer from North Carolina based in New York City. I use Ruby and JavaScript languages. I create applications that are user friendly, clean, and innovative. Ruby is my main specialty when creating web applications. The syntax is very clean and understandable. I am very eager to learn something new all the time so whenever a new technology comes out, I do whatever it takes to master the skill.  When it comes to code, I do whatever it takes to find the right syntax and continue building until it becomes a 100% working app. </p>

<p>I graduated from General Assembly's Web Development Immersive program which took place in New York City for 12 weeks. During the course I experienced lots of frustration, and stress from learning code and applying them into web applications.    General Assembly has gave me the mentality of a working as a Web Developer in the real world and I'm very grateful for that experience. General Assembly had opened up a whole new world for me. My classmates and I have grown so close to each other and consider ourselves family. I never knew how much I love eating bagels in the mornings and drinking hard apple cider during Happy Hour.</p>  

<p>While I'm not coding, I love watching YouTube, Google, eating out, exploring the city, and having fun with my former classmates. I love travel and my dream is a roadtrip to visit every diner, dives, and drive-ins in the USA.</p>  

<p>I am currently available for freelancing and full-time remote positions only. I am very dependable and reliable so if you are interested in hiring me for your next project please <a href='/contact'><span style='color:#1192C2'>CONTACT ME</span></a> and we'll go on from there. Looking forward to become a valuable service to you!</p>
</div>

<br>
<br>

<div class='skills'>
<div class="pure-g">

    <div class="pure-u-1-3">
    <ul>
    <h2>Languages</h2>
    <li>Ruby</li>
    <li>JavaScript</li>
    </ul>
    </div>


    <div class="pure-u-1-3">
    <ul>
    <h2>Technologies</h2>
   	<h3>Server Frameworks</h3>
   	<li>Ruby on Rails</li> 
   	<li>Sinatra</li>
   	<br>
   	<h3>Libraries</h3>
   	<li>jQuery</li>
   	<li>typed.js</li>
   	<br>
   	<h3>Other</h3>

   	<h4>Version Control: Github</h4> 
   	<h4>Database: PostgreSQL</h4>
   	<h4>Cloud-Tech:Heroku</h4>

    </ul>
    </div>
    <div class="pure-u-1-3">
    <ul>
    <h2>Layout and Design</h2>
    <br>
    <li>HTML5/CSS3</li>
    <li>Bootstrap</li>
    <li>Pure.css</li>
    <li>Photoshop</li>
    </ul>
    </div>

</div>
</div>
</div>




<div class='push'></div>



</div>






<div class='footer 1-box is-center'>
<p class='copyright'>Michael J. Stokes <span style='color:#1192C2'>|</span> Copyright &copy; 2015</p> 

<p class='social-links'>Let's Connect <a href='https://www.facebook.com/MStokesJ86'><img src='http://i.imgur.com/DPvbHKd.png'></a> <a href='https://twitter.com/MStokes86'><img src='http://i.imgur.com/q5AviK5.png'></a>  <a href='https://plus.google.com/u/0/116817601644572193547/posts'><img src='http://i.imgur.com/DQVKk4a.png'></a></p>
</div>

</body>



</html>