<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<link type='text/css' rel='stylesheet' href='about.css'>
<link type='text/css' rel='stylesheet' href='./public/bootstrap-3.3.4-dist/css/bootstrap.css'>
<title>mjstokes.com</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script type='text/javascript'>
$(function(){

	$('a').hover(

		function(){
			$(this).css('color', '#1192C2')
		},
		function(){
			$(this).css('color',  'white')

	});

});

</script>
</head>
<header><p>About <span style='color:#1192C2'>|</span> Michael J. Stokes</p></header>

<body>
<div class='container'>
<div id='div1'><img src='http://i.imgur.com/qliOhvp.jpg' height='200' width='200'></div>
<div id='div2'><p>I am a Front-End Web Developer who is passionate about building sites for the world to see.  I am from Burlington, NC and I had always had my eye on design and development. I build apps that are fun, and very useful for the society.   </p></div>
<div id='div3'><img src='http://i.imgur.com/XhZ9jAr.jpg' height='200' width='200'></div>
<div id='div4'><p>I taught myself how to code using CodeCademy. After completing the course I wanted to keep my skills sharp so I looked into other web programs that would suit me, until I actually stumbled upon an ad from General Assembly for their Web Development Immersive program. I was impressed by their course curriculm and decided to enroll. The course took place in New York City so I headed for the Big Apple. For three months during the course, I have built web applications and advanced in my coding skills. General Assembly has gave me the mentality and the knowledge working as a web developer in the real world.  </p></div>
<div id='div5'>
<ul>
	<li>Ruby on Rails</li>
	<li>Sinatra</li>
	<li>Node.js</li>
	<li>AJAX</li>
	<li>jQuery</li>
	<li>Backbone.js</li>
	<li>HTML5/CSS3</li>
	<li>Photoshop</li>
	<li>Bootstrap</li>
	<li>PostgreSQL</li>
	<li>SQLite3</li>
</ul>


</div>

<div id='div6'><img src='http://i.imgur.com/GvvtutB.jpg' height='200' width='200'></div>

<div id='div7'><p>While I'm not coding, I love watching YouTube videos, and eating fast food. I love roadtrips especially to New York City. Being in New York City while attending General Assembly had opened up a whole new world for me. I have realized how much I love eating bagels in the mornings and drinking hard apple cider. </p></div>

</div>







</body>


<footer>
<a href='/'><p>Home</p></a>
</footer>
</html>