<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">

<link type='type/css' rel='stylesheet' href='contact.css'>
	<title>Contact</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>

// 	<script type='text/javascript'>

$(function(){



			window.onload = function(){
				var $video = $('.splash-container');
				var $msg = $('#center-text');
				var $msgTop = $video.offsetHeight/2 - $msg.offsetHeight/2;
				var $msgLeft = $video.offsetWidth/2 - $msg.offsetWidth/2;
				$msg.style.left = $msgLeft + 'px';
				$msg.style.top = $msgTop + 'px';
			};



		$('body').css('display', 'none');
		$('body').fadeIn(1000);

		$('a').click(function(){
			event.preventDefault();
			newLocation = this.href;

			$('body').fadeOut(1000, newpage);
		})

		function newpage() {
			window.location = newLocation

	$('a').hover(

		function(){
			$(this).css('color', 'black')
		},
		function(){
		
			$(this).css('color', 'white')

	});


};
});

	</script>


</head>

<div class='header'>
<div class = 'home-menu pure-menu pure-menu-horizontal pure-menu-fixed pure-menu-custom'>

<p id='Contact-Michael'>Contact <span style='color:#1192C2'> | </span> Michael J. Stokes</p>


<ul class= "pure-menu-list">
<li class = "pure-menu-item "><a href="/" class='pure-menu-link'>Home</a></li>
<li class="pure-menu-item"><a href="/about" class='pure-menu-link'>About</a></li>
<li class='pure-menu-item'><a href='/portfolio' class="pure-menu-link">Portfolio</a></li>
<li class='pure-menu-item pure-menu-selected'><a href="/contact" class='pure-menu-link'><span style='color:#1192C2'>Contact</span></a></li>
</ul>
</div>
</div>




<body>

<div class='splash-container'>
<div class='splash'>

<video width='512' height='288' id="splashvid" preload='none' autoplay loop muted>



<source src="/video/foot_traffic.mp4" type="video/mp4">
<source src="/video/foot_traffic.ogv" type="video/ogv">
<source src="/video/foot_traffic.webm" type="video/webm">




</video>

<div id="center-text">

<center>
<div id='container'>
<div id='div1'><img src='http://i.imgur.com/5vbX14w.png' height='50' width='50'> <p style='background-color:black; opacity:0.9; padding:10px; '>3 3 6 . 6 9 3 . 5 5 8 0</p></div>

<div id='div2'><img src='http://i.imgur.com/hogz2sW.png' height='50' width='50'> <p style='background-color:black; opacity:0.9; padding:10px;'> <a href='mailto:mjstokes1986@att.net'>mjstokes1986@att.net</a></p></div>

<div id='div3'><img src='http://i.imgur.com/atzMnvn.png' height='50' width='50'> <p style='background-color:black; opacity:0.9; padding:10px;'> <a href='https://www.linkedin.com/in/mjstokes1'>https://www.linkedin.com/in/mjstokes1</a></p></div>

<div id='div4'><img src='http://i.imgur.com/Z1KvUpP.png' height='50' width='50'> <p style='background-color:black; opacity:0.9; padding:10px;'> <a href='https://github.com/MJStokes86'>https://github.com/MJStokes86</a></p></div>
</div>
</center> 

<div class='push'></div>

</div>


</div>
</div>






<div class='footer 1-box is-center'>
<p class='copyright'>Michael J. Stokes <span style='color:#1192C2'>|</span> Copyright &copy; 2015</p> 

<p class='social-links'>Let's Connect <a href='https://www.facebook.com/MStokesJ86'><img src='http://i.imgur.com/DPvbHKd.png'></a> <a href='https://twitter.com/MStokes86'><img src='http://i.imgur.com/q5AviK5.png'></a>  <a href='https://plus.google.com/+MichaelStokes86'><img src='http://i.imgur.com/DQVKk4a.png'></a></p>
</div>
</body>


</html>