<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
	<title>mjstokes.com</title>
	<link type='text/css' rel='stylesheet' href = "index.css">
	<link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<script type='text/javascript'>
	$(function(){

		$('body').css('display', 'none');
		$('body').fadeIn(1000);
		
		$('a').click(function(){
			event.preventDefault();
			newLocation = this.href;

			$('body').fadeOut(1000, newpage);
		})

		function newpage() {
			window.location = newLocation
		}


	$('a').hover(

	function(){
	$(this).css('color', "#1192C2")
},
	function(){
		$(this).css('color', 'white')
	});


     setInterval('rotator()', 3000)

	});


function rotator() {
	var oCurPhoto = $('#slider div.current');
	var oNxtPhoto = oCurPhoto.next();
	if (oNxtPhoto.length == 0)
		oNxtPhoto = $('#slider div:first');
	
	oCurPhoto.removeClass('current').addClass('previous');
	oNxtPhoto.css({opcacity: 0.0}).addClass('current')
	.animate({opacity:1}, 3000,
		function() {
			oCurPhoto.removeClass('previous');
		 });
}


</script> 

	

</head>


<header class='header'>
<center>
<p>Michael J. Stokes<p>
</center>
</header>


<body>
<div class='center'>
<h1 id='left'>Web Development</h1>
<h1 id= 'right'>Web Design</h1>
<div id='slider'>
<div class="current"><img src="http://i.imgur.com/qliOhvp.jpg

" height='200' width='200'></div>

 <div><img src="http://i.imgur.com/JR4lk6p.jpg
" height='200' width='200'></div>

 <div><img src="http://i.imgur.com/JR4lk6p.jpg
" height='200' width='200'></div>

 <div><img src="http://i.imgur.com/XhZ9jAr.jpg" height='200' width='200'></div>

 <div><img src="http://i.imgur.com/Kpw5hEr.jpg" height='200' width='200'></div>

 <div><img src="http://i.imgur.com/OM4cbOQ.jpg" height='200' width='200'></div>

 <div><img src="http://i.imgur.com/Ols0Lra.jpg" height='200' width='200'></div>

 <div><img src="http://i.imgur.com/GvvtutB.jpg" height='200' width='200'></div>

 <div><img src="http://i.imgur.com/kiSSpTB.png" height='200' width='200'></div>


</div>
</div>






</body>


<footer class='footer'>
<center>
<div class='divide_blue'>
<p> <a href='/about'>About</a> | <a href='/portfolio'>Work</a> | <a href='/contact'>Contact</a> </p>
</div>
</div>
</div>
</center>
</footer>
<script type="text/javascript" src='main.js'></script>
</html>