<!DOCTYPE html>
<html>
<head>
	<title>mjstokes.com</title>
</head>
<body>

<center>
<h1>Michael J. Stokes</h1>
<h2>Full Stack Web Developer</h2>
<h3>Ruby on Rails | JavaScript | PostgreSQL | HTML5/CSS3</h3>
</center>

</body>
</html>