<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">  

	<title>mjstokes.com</title>
	<link type='text/css' rel='stylesheet' href = "index.css">
	<link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<script type='text/javascript'>

		$(function(){

		$('body').css('display', 'none');
		$('body').fadeIn(1000);
		
		$('a').click(function(){
			event.preventDefault();
			newLocation = this.href;

			$('body').fadeOut(1000, newpage);
		})

		function newpage() {
			window.location = newLocation
		}


	$('a').hover(

	function(){
	$(this).css('color', "#1192C2")
},
	function(){
		$(this).css('color', 'white')
	});

});


	</script>


<body>

<div class='header'>
<div class = 'home-menu pure-menu pure-menu-horizontal pure-menu-fixed'>

<p class='name'>Michael J. Stokes</p>

<ul class= "pure-menu-list">
<li class = "pure-menu-item pure-menu-selected"><a href="/" class='pure-menu-link'>Home</a></li>
<li class="pure-menu-item"><a href="/about" class='pure-menu-link'>About</a></li>
<li class='pure-menu-item'><a href='/portfolio' class="pure-menu-link">Work</a></li>
<li class='pure-menu-item'><a href="/contact" class='pure-menu-link'>Contact</a></li>
</ul>
</div>
</div>

<div class='splash-container'>
<div class='splash'>

<video width='512' height='288' id="splashvid" preload='none' autoplay loop muted>



<source src="/video/sweeping_view.mp4" type="video/mp4">
<source src="/video/sweeping_view.ogv" type="video/ogv">
<source src="/video/sweeping_view.webm" type="video/webm">




</video>


</div>
</div>
<div class='pure-g'>	




<div class='footer 1-box is-center'>

</div>
</div>


</body>



</html>