<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">  

	<title>mjstokes.com</title>
	<link type='text/css' rel='stylesheet' href = "index.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

	<link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<script src='typed.js-master/dist/typed.min.js'></script>
	<script type='text/javascript'>

		$(function(){

			
			window.onload = function(){
				var $video = $('.splash-container');
				var $msg = $('#center-text');
				var $msgTop = $video.offsetHeight/2 - $msg.offsetHeight/2;
				var $msgLeft = $video.offsetWidth/2 - $msg.offsetWidth/2;
				$msg.style.left = $msgLeft + 'px';
				$msg.style.top = $msgTop + 'px';
			};


	

			$('#center-text').typed({
				strings:["Hello ^1000", "I'm Michael J. Stokes ^1000", "I'm a Web Developer ^1000", "and Web Designer^1000", "I do Ruby^1000", "and JavaScript^1000", 
				"I am a self-starter ^1000", " Who is passionate ^1000", "about making websites ^1000 ","that are Fun, ^1000", "User Friendly, ^1000", "Clean, ^1000", "and Innovative" ,"Welcome To My Site ^3000"], 
				typeSpeed:0,
				loop:true,
				cursorChar: "|",
				showCursor: true
			});

		$('body').css('display', 'none');
		$('body').fadeIn(1000);
		
		$('a').click(function(){
			event.preventDefault();
			newLocation = this.href;

			$('body').fadeOut(1000, newpage);
		})

		function newpage() {
			window.location = newLocation
		}


	$('a').hover(

	function(){
	$(this).css('color', "black")
},
	function(){
		$(this).css('color', 'white')
	});

});


	</script>
</head>


<body>

<div class='header'>
<div class = 'home-menu pure-menu pure-menu-horizontal pure-menu-fixed'>

<p class='name'>Michael J. Stokes</p>

<ul class= "pure-menu-list">
<li class = "pure-menu-item pure-menu-selected"><a href="/" class='pure-menu-link'><span style='color:#1192C2'>Home</span></a></li>

<li class="pure-menu-item"><a href="/about" class='pure-menu-link'>About</a></li>
<li class='pure-menu-item'><a href='/portfolio' class="pure-menu-link">Portfolio</a></li>
<li class='pure-menu-item'><a href="/contact" class='pure-menu-link'>Contact</a></li>
</ul>
</div>
</div>

<div class='splash-container'>
<div class='splash'>

<video width='512' height='288' id="splashvid" preload='none' autoplay loop muted>



<source src="/video/sweeping_view.mp4" type="video/mp4">
<source src="/video/sweeping_view.ogv" type="video/ogv">
<source src="/video/sweeping_view.webm" type="video/webm">




</video>

<div id="center-text">Michael J. Stokes <br>
<span id="sub-text"></span>
</div>


</div>
</div>

<div class='push'></div>

<div class='pure-g'>	




<div class='footer 1-box is-center'>
<p class ='profession'>Web Developer <span style='color:#1192C2'>|</span> Web Designer</p>
</div>
</div>


</body>



</html>