<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">

<link type='text/css'rel='stylesheet' href='portfolio.css'>


<title>Portfolio</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>

<script type='text/javascript'>
$(function(){

		$('body').css('display', 'none');
		$('body').fadeIn(1000);

		$('a').click(function(){
			event.preventDefault();
			newLocation = this.href;

			$('body').fadeOut(1000, newpage);
		})

		function newpage() {
			window.location = newLocation
		}


	$('a').hover(

		function(){
			$(this).css('color', '#1192C2')
		},
		function(){
			$(this).css('color',  'white')

	});
});

</script>
</head>


<header id='page-header'><center><p>Michael J. Stokes <span style='color:#1192C2'>|</span> Portfolio</p></center></header>
<body>


<div class='container'>
<div class='pure-g'>	
<center>
<div id='div1'><div class='pure-u-1-2'><a href='https://namethattube.herokuapp.com/'><img src='http://i.imgur.com/PJi7bcc.png' height='100' width='100'></a><header>Name That Tube</header><p><center>A <span style='color:#1192C2'>Ruby on Rails</span> YouTube-based trivia game that gives a player a series of questions to answer. The player is also given a 3 sec video clue the player must identify to solve the question. The game is inspired by the classic game show called 'Name That Tune!'. <span style='color:#1192C2'>USERNAME: Guest PASSWORD: 12345</span>
<a href='https://github.com/MJStokes86/Project-4-Name_That_Tube'>View Code Here</a></center></p>
</center>
</div>


<center>Ruby on Rails <span style='color:#1192C2'>|</span> PostgreSQL <span style='color:#1192C2'>|</span> jQuery <span style='color:#1192C2'>|</span> HTML5/CSS3</center>
</div>
</div>
</div>
</div>


</body>

<footer>
<center>
<div class='divide_blue'>
<a href='/'>Home</a>  | <a href='/about'>About</a> | <a href='/contact'>Contact</a>
</div> 
</center>
</footer>
</html>