

body {

	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('http://i.imgur.com/kMapVgT.jpg');
	background-size: 1000px;
}

#About-Michael {
	font-family: 'Six Caps', sans-serif;
	color: white;
	font-size: 50px;
	text-align:center;

}

#div1 ,.pure-g [class = "pure-u-1-2"] {
	color: white;
	font-family: 'Oswald', sans-serif;
}

#div1 , .pure-g [class = 'pure-u-1-2'] a {
	color: white;
	text-decoration: none;

}

#links {
	font-family: 'Six Caps',sans-serif;
	font-size: 50px;
	text-align: center;
}

#links a {
	color: white;
	text-decoration: none;
}

.blue-divider {
	color: #1192C2;
}

 ul{
	list-style: none;
	
}