html body {
height: 100%;
}

.home-menu {
	padding-top:-1.5em;
	color:white;
	font-size:200%;
	background-color: #222424;
	position:fixed;
	text-align: left;
	top:0;
	left:0;
	width:100%;
	margin:auto;


}


.footer {
	padding-bottom: 50px;
	background-color: #222424;
	position:fixed;
 	left:0;
 	bottom: 0;
 	width: 120%;
 	margin:-50px;
 	height:50px;
 	z-index:999;
 	clear:both;

}
.footer, .push{
	height:4em;

}

.copyright {

	font-family: 'Six Caps', sans-serif;
 	font-size:30px;
 	color:white;
 	position:absolute;
 	top:-10%;
 	left:5%;


}

.social-links {
	position:absolute;
	top:-10%;
	left:70%;
	font-family: 'Six Caps', sans-serif;
	font-size:30px;
	color:white;
}

.social-links img{
	height:auto;
	width:25px;
}


.pure-menu-item a{
	
	background:none;
	text-decoration: none;
	color:white;
}

.home-menu ul{
	float:right;
	


}

#Contact-Michael{
	float:left;
	color:white;
	font-family: 'Six Caps', sans-serif;
	font-size:90%;
	letter-spacing: 0.5em;
	position: relative;
	top:-0.3em;
}

.pure-menu-item {
	display:inline-block;
	font-family: "Six Caps", sans-serif;
	letter-spacing: normal;
	background:none;
	

}


.home-menu a:hover {

	color:black;
	text-decoration: none;

}




#container {

	font-family: 'Six Caps' sans-serif;
	font-size:35px;
	color:white;
	text-align: center;
}
 #container p {

 	position: absolute;
 	left: 50%;
 	top: -1em;
 }

 #container a {
 	color:white;
 	text-decoration: none;
 }

 #container a:hover {
 	color:#1192C2;
 }

 video#splashvid {
	
	position:fixed;
	top:5em;
	left:0;
	width:100% !important;
	height:auto !important;
	z-index:-1;
	overflow: hidden;

	

}

/*#center-text {
	position:absolute;
	top:200px;
	left:540px;f
	color:black;
	font-family: 'Six Caps', sans-serif;
	font-size: 500%;
	text-align: center;
	z-index:1;
	/*background-color: black;
	opacity: 0.9;
	width:100%;
	left:0;*/



}*/

#splash-container {
	text-align: center;
}


#div1{
	
	background-color:#3C4142;
	position: absolute;
	width:100%;
	top: 23%;
}

#div1 img {

	position:absolute;
	left:42%;
	top: 0em;
}

#div2{
	
	background-color:#3C4142;
	position: absolute;
	width:100%;
	top: 38%;
}

#div2 img {

	position:absolute;
	left:42%;
	top: 0em;
}

#div3{
	
	background-color:#3C4142;
	position: absolute;
	width:100%;
	top: 53%;
}

#div3 img {

	position:absolute;
	left:42%;
	top: 0em;
}

#div4{
	
	background-color:#3C4142;
	position: absolute;
	width:100%;
	top: 68%;
}

#div4 img {

	position:absolute;
	left:42%;
	top: 0em;
}



@media screen and (max-width:48em){
	.name {
		position:relative;
		top:0.5em;
		font-family: 'Six Caps' sans-serif;
		letter-spacing: normal;
		font-size:100%;
	}

	video#splashvid {
	
	position:fixed;
	top:5em;
	left:0;
	width:100% !important;
	height:auto !important;
	

}

#Contact-Michael{
	float:left;
	color:white;
	font-family: 'Six Caps', sans-serif;
	font-size:90%;
	letter-spacing: normal;
	position:relative;
	top:-0.5em;
}

#container #div1  {
	position:absolute;
	top:3em;

}

#container #div2  {
	position:absolute;
	top:5em;

}
#container #div3 {
	position:absolute;
	top:7em;

}
#container  #div4 {
	position:absolute;
	top:9em;

}
.social-links {
	position:absolute;
	top:-10%;
	left:60%;
}

.social-links img{

	height:auto;
	width:25px;

}

.copyright {
	position: absolute;
	left:7%;
}

.footer{
	padding:50px;
}
	

}
