
.home-menu {
	padding-top:-1.5em;
	color:white;
	font-size:250%;
	background-color: #222424;
	position:fixed;
	text-align: left;
	top:0;
	left:0;
	width:100%;
	margin:auto;


}


.home-menu a{
	
	color:white;
	text-decoration: none;
}

.home-menu ul{
	float:right;

}

.name {
	float:left;
	color:#1192C2;
	font-family: 'Six Caps', sans-serif;
	font-size:90%;
	letter-spacing: 0.5em;
}

.pure-menu-item {
	display:inline-block;
	font-family: "Six Caps", sans-serif;
	

}
/*video#splashvid {
	
	-webkit-background-size:cover;
	overflow: hidden;
}*/

video#splashvid {
	
	position:fixed;
	top:8.3em;
	left:0;
	width:100% !important;
	height:auto !important;
	

}

.footer  {
	padding-bottom: 90px;
	background-color: #222424;
	position:fixed;
 	left:0;
 	bottom: 0;
 	width: 100%;
 	margin: 0 auto;
}

@media screen and (max-width:48em){
	.name {
		font-family: 'Six Caps' sans-serif;
		letter-spacing: normal;
		font-size:100%;
	}

}
