

body {
background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('http://i.imgur.com/kMapVgT.jpg');
}

.home-menu {
	padding-top:-1.5em;
	color:white;
	font-size:200%;
	background-color: #222424;
	position:fixed;
	text-align: left;
	top:0;
	left:0;
	width:100%;
	margin:auto;


}


.footer  {
	padding-bottom: 50px;
	background-color: #222424;
	position:fixed;
 	left:0;
 	bottom: 0;
 	width: 100%;
 	margin: 0 auto;

}


.pure-menu-item a{
	
	background:none;
	text-decoration: none;
	color:white;
}

.home-menu ul{
	float:right;
	


}

#Michael-Portfolio{
	float:left;
	color:white;
	font-family: 'Six Caps', sans-serif;
	font-size:90%;
	letter-spacing: 0.5em;
	top:0;
}

.pure-menu-item {
	display:inline-block;
	font-family: "Six Caps", sans-serif;
	letter-spacing: normal;
	background:none;
	

}


 a {
		text-decoration: none;
		color:white;

}

img {
	border:solid #1192C2 10px;
	max-width: 100%;
}

img:hover {
	border-color:white;
	display: block;
}
.container {
	color:white;
	font-family: 'Oswald' sans-serif;
	font-size: 15px;
	position:absolute;
	top:11em;
	text-align: center;


}

.container header{
	font-family:'Six Caps', sans-serif;
	font-size: 35px;
	color:white;
	text-align: center;

}


.container p{
	position: absolute;
	top:13em;
	left: 70%;
	word-wrap:break-word;
	font-family: 'Oswald' sans-serif;
	font-size:17px;
	width:100px;
	color:white;
}
.divide_blue {
	color:#1192C2;
}

@media only screen and (max-width: 320px) {


   .container header{
   	font-size: 1.5em;
   }

   #page-header {
   	font-size: 1.3em;
   }

   footer{
   	font-size: 1.3em;
   }

   .container {
   	position: absolute;
   	top: 3em;
   	font-size:1em;
   }

}