

body {
background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('http://i.imgur.com/kMapVgT.jpg');
}

#page-header{
	font-family:'Six Caps', sans-serif;
	font-size: 45px;
	color: white;
	text-align: center;
	background-color: black;
}

footer {
	text-align: center;
	font-family: 'Six Caps' sans-serif;
	font-size: 45px;
	color:#1192C2;
	background-color: black;
	width: 100%;
	margin: 0 auto;
	height:60px;
	position: fixed;
	left:0;
	bottom:0;
}

 a {
		text-decoration: none;
		color:white;

}

img {
	border:solid #1192C2 10px;
	max-width: 100%;
}

img:hover {
	border-color:white;
	display: block;
}
.container {
	color:white;
	font-family: 'Oswald' sans-serif;
	font-size: 15px;
	position:absolute;
	top:11em;
	text-align: center;


}

.container header{
	font-family:'Six Caps', sans-serif;
	font-size: 35px;
	color:white;
	text-align: center;

}


.container p{
	position: absolute;
	top:13em;
	left: 70%;
	word-wrap:break-word;
	font-family: 'Oswald' sans-serif;
	font-size:17px;
	width:100px;
	color:white;
}
.divide_blue {
	color:#1192C2;
}

@media only screen and (max-width: 320px) {

   body { font-size: 0.5em; }

   .container header{
   	font-size: 1.5em;
   }

   #page-header {
   	font-size: 1.3em;
   }

   footer{
   	font-size: 1.3em;
   }

}